body{
    background: url('index_img/background_lognIn.jpg');
    background-size: cover;
    background-position-y: -90px;

}
#forgot-password {
    position: relative;
    height: 500px;
    width: 400px;
}
.form-forgot-password-sendOTP {
     /*position: relative;*/
    position: absolute;
    visibility: visible;
    left: 0px;
    top: 100px;
    width: 400px;
    background: rgba(0, 0, 0, 0.8);
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
 }
.img-forgot-password-sendOTP {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}
.form-forgot-password {
    /*position: relative;*/
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 400px;
    background: rgba(0, 0, 0, 0.8);
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
}
.img-forgot-password {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}
.form-heading{
    color: white;
    text-align: center;
    font-family: Calibri, serif;
}
.form-group {
    border-bottom: 1px solid white;
    /*display: flex;*/
}
.form-group i{
    color: white;
    font-size: 14px;
    padding-top: 8px;
    padding-right: 5px;
}
#eye_old_pass, #eye_new_pass, #eye_confirm_new_pass{
    padding-right: 0;
    cursor: pointer;
    float: right;
}
.form-input {
    width: 87%;
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
}
#phone {
    width: 93%;
}
.form-input::placeholder{
    color: #a9a7a6;
}
a {
    color: white;
    font-family: Calibri, serif;
    text-decoration: none;
}
.form-submit {
    background: transparent;
    border: 1px solid #f5f5f5;
    color: white;
    width: 100%;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    font-family: Calibri, serif;
}
.form-submit:hover {
    border: 1px solid #00a8ff;
}